/* Fonts family */
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: Montserrat;
  font-size: 12px;
}
.container-fluid {
  padding: 0 65px !important;
}
/* header */
.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 !important;
}
.header-navbar__email {
  margin-left: 90px;
}
.header-navbar__info {
  width: 1100px;
}
.header-navbar__contacts {
  width: 220px;
}
.header-navbar__contacts__number {
  font-size: 14px;
  font-weight: 900;
}
.header-navbar__contacts__social__telegram {
  margin-right: 5px;
  text-decoration: none;
}
.header-text {
  padding-left: 5px;
  font-weight: 600;
}
.header-info-text {
  font-size: 13px;
  font-weight: 800;
}
