/* Fonts family */
@font-face {
  font-family: 'Montserrat_thin';
  src: url('../font/Montserrat-Thin.eot');
  src: url('../font/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../font/Montserrat-Thin.woff2') format('woff2'), url('../font/Montserrat-Thin.woff') format('woff'), url('../font/Montserrat-Thin.ttf') format('truetype'), url('../font/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat_light';
  src: url('../font/Montserrat-Light.eot');
  src: url('../font/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../font/Montserrat-Light.woff2') format('woff2'), url('../font/Montserrat-Light.woff') format('woff'), url('../font/Montserrat-Light.ttf') format('truetype'), url('../font/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat_bold';
  src: url('../font/Montserrat-Bold.eot');
  src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Montserrat-Bold.woff2') format('woff2'), url('../font/Montserrat-Bold.woff') format('woff'), url('../font/Montserrat-Bold.ttf') format('truetype'), url('../font/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
body {
  font-family: 'Montserrat_bold', sans-serif;
  background-color: #FAF8F9 !important;
}
* {
  font-family: 'Montserrat_bold', sans-serif;
  font-size: 12px;
  font-weight: 900;
}
.container-fluid {
  padding: 0 65px !important;
}
/* header */
.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 !important;
}
.header-navbar__quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-navbar__quick__location :hover {
  color: #E31E25 !important;
}
.header-navbar__quick__email {
  margin-left: 90px;
}
.header-navbar__quick__email a:hover {
  color: #E31E25  !important;
}
.header-navbar__burger {
  display: none;
}
.header-navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  width: 1090px;
}
.header-navbar__info :hover {
  color: #E31E25 ;
}
.header-navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  width: 200px;
}
.header-navbar__contacts__number {
  font-size: 14px;
}
.header-navbar__contacts__social__telegram {
  margin-right: 5px;
  text-decoration: none;
}
.header-secondbar__left {
  cursor: pointer;
  margin-top: 20px;
}
.header-secondbar__left__about {
  cursor: pointer;
  width: 230px;
  font-size: 9px;
  font-family: 'Montserrat_thin', sans-serif;
  line-height: 1.4;
  margin-left: 32px;
}
.header-secondbar__left__search {
  cursor: pointer;
  margin-left: 7px;
  height: 21px;
}
.header-secondbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin-bottom: 7px;
}
.header-secondbar__right-icons :hover {
  cursor: pointer;
}
.header-text {
  padding-left: 5px;
  font-family: 'Montserrat_thin', sans-serif;
}
.header-info-text {
  font-size: 13px;
  font-weight: 800;
}
.toast-secondbar-img {
  margin-right: 10px;
}
.circle-badge {
  position: absolute;
  top: 0;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  width: 20px;
  height: 20px;
  background-color: #ffff;
}
.mobile-navbar {
  display: none !important;
}
.main__left-navbar {
  margin-top: 25px;
}
.main__left-navbar__sales-sections {
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 20px;
}
.main__left-navbar__sales-sections:hover {
  color: #E31E25 ;
}
.main__left-navbar__info {
  margin-top: 40px;
}
.main__left-navbar__info__adress {
  font-family: 'Montserrat_thin', sans-serif;
  margin-bottom: 27px;
}
.main__left-navbar__info__work-time {
  font-family: 'Montserrat_thin', sans-serif;
}
.main__central {
  margin-left: 30px;
}
.main__central__main-block__advert {
  margin-top: 25px;
}
.main__central__main-block__advert__offer {
  position: absolute;
  color: #FFFF;
  margin-top: 105px;
  margin-left: 50px;
}
.main__central__main-block__advert__offer h3 {
  display: none;
  font-family: 'Montserrat_light', sans-serif;
}
.main__central__main-block__advert__offer h4 {
  font-family: 'Montserrat_light', sans-serif;
}
.main__central__main-block__advert__offer__price-old {
  font-size: 30px;
  margin-top: 25px;
  text-decoration: line-through;
  font-family: 'Montserrat_thin', sans-serif;
}
.main__central__main-block__advert__offer__price-new {
  font-size: 55px;
  margin-top: -10px;
  font-weight: 600;
}
.main__central__main-block__advert__offer__make-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.main__central__main-block__advert__offer__make-offer button {
  width: 160px;
  color: #FFFF;
  background-color: transparent;
  padding: 9px;
  border-color: #FFFF;
  border-radius: 60px;
  border-width: 2px;
}
.main__central__main-block__advert__offer__make-offer button:hover {
  background-color: #248CFF;
}
.main__central__main-block__advert__offer__make-offer div {
  margin-top: 30px;
}
.main__central__main-block__advert__offer__make-offer div img {
  cursor: pointer;
  width: 45px;
}
.main__central__main-block__advert__offer__make-offer div .left-arrow {
  margin-right: 15px;
}
.main__central__main-block__advert__offer__make-offer div .right-arrow {
  margin-left: 15px;
}
.main__central__main-block__advert .person-boat {
  width: 90%;
}
.main__central__main-block__advert .person-boat-img {
  display: none;
}
.main__central__main-block__sale {
  display: none;
}
.main__central__main-block__boat-sale {
  display: none;
}
.main__central__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  height: 305px;
}
.main__central__bottom-block__quality {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300px;
  height: 195px;
  border-radius: 8px;
}
.main__central__bottom-block__quality img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main__central__bottom-block__quality__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 25px;
  padding-left: 20px;
}
.main__central__bottom-block__quality__block .block-header {
  font-size: 18px;
  margin-bottom: 20px;
}
.main__central__bottom-block__quality__block p {
  font-size: 14px;
  font-family: 'Montserrat_thin', sans-serif;
}
.main__central__bottom-block__quality:hover {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 305px;
  height: 200px;
}
.main__right-navbar img {
  cursor: pointer;
  margin-top: 75px;
  margin-right: 70px;
  -webkit-box-shadow: 0px 0px 10px 10px #e0e0e0;
          box-shadow: 0px 0px 10px 10px #e0e0e0;
  color: white;
  font-size: 50px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main__right-navbar img:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #e0e0e0;
          box-shadow: 0px 0px 5px 5px #e0e0e0;
}
.sale {
  color: #c04341;
}
.orders {
  background-color: #EBEBEB;
}
.terms {
  background-color: #FFCF25;
}
.manufacturer {
  color: #FFFF;
  background-color: #248CFF;
}
.sales {
  color: #FFFF;
  background-color: #7EBD31;
}
@media (max-width: 1800px) {
  .header-navbar__burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header-navbar__info {
    display: none !important;
  }
  .toast-secondbar-img {
    display: none;
  }
  .main__central__bottom-block {
    width: 100%;
  }
  .main__central__main-block__advert__offer h4 {
    font-size: 15px;
  }
  .main__central__main-block__advert__offer__price-old {
    font-size: 25px;
  }
  .main__central__main-block__advert__offer__price-new {
    font-size: 45px;
  }
  .main__central__main-block__advert__offer__make-offer {
    margin-top: 20px;
  }
  .main__central__main-block__advert__offer__make-offer div {
    margin-top: 20px;
  }
  .main__central__main-block__advert .person-boat {
    width: 90%;
  }
}
@media (max-width: 1700px) {
  .main__central__main-block__advert__offer h4 {
    font-size: 15px;
  }
  .main__central__main-block__advert__offer__price-old {
    font-size: 20px;
  }
  .main__central__main-block__advert__offer__price-new {
    margin-top: 0;
    font-size: 35px;
  }
  .main__central__main-block__advert__offer__make-offer {
    margin-top: 10px;
  }
  .main__central__main-block__advert__offer__make-offer button {
    width: 140px;
    font-size: 10px;
    color: #FFFF;
    border-width: 1px;
  }
  .main__central__main-block__advert .person-boat {
    width: 90%;
  }
  .main__central__bottom-block__quality {
    width: 270px;
  }
  .main__central__bottom-block__quality__block p {
    font-size: 12px;
  }
}
@media (max-width: 1600px) {
  .main__central__bottom-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__central__bottom-block__quality {
    width: 270px;
    margin-top: 10px;
  }
  .main__central__bottom-block__quality__block p {
    font-size: 12px;
  }
  .main__right-navbar {
    margin-left: 40px;
  }
  .main__right-navbar img {
    margin-right: 0;
  }
  .person-boat {
    width: 100% !important;
  }
}
@media (max-width: 1550px) {
  .main__central__main-block__advert__offer {
    margin-top: 70px;
  }
  .main__central__bottom-block {
    margin: auto;
  }
  .main__central__bottom-block__quality {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}
@media (max-width: 1300px) {
  .main__central__main-block__advert {
    position: relative;
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
    background-color: #E31E25;
  }
  .main__central__main-block__advert__offer {
    margin-top: 30px;
    margin-left: 30px;
  }
  .main__central__main-block__advert .person-boat {
    display: none;
  }
  .main__central__main-block__advert .person-boat-img {
    display: block;
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 70%;
  }
  .main__central__bottom-block {
    margin: auto;
  }
  .main__central__bottom-block__quality {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}
@media (max-width: 1040px) {
  .main__central__main-block__advert__offer h3 {
    display: block;
    font-size: 20px;
    font-weight: 200;
  }
  .main__central__main-block__advert__offer h4 {
    display: none;
  }
}
@media (max-width: 935px) {
  .main__central__main-block__advert__offer {
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 850px) {
  .header-secondbar__left__about {
    display: none;
  }
  .main__central__main-block__advert {
    height: 210px;
  }
  .main__central__main-block__advert__offer h3 {
    font-size: 15px;
  }
  .main__central__main-block__advert__offer__price-old {
    font-size: 15px;
  }
  .main__central__main-block__advert__offer__price-new {
    font-size: 25px;
  }
  .main__central__main-block__advert__offer__make-offer div {
    margin-top: 10px;
  }
  .main__central__main-block__advert__offer button {
    width: 120px;
    font-size: 10px;
    padding: 5px;
  }
  .main__central__main-block__advert__offer div {
    margin-top: 10px;
  }
  .main__central__main-block__advert__offer div img {
    cursor: pointer;
    width: 45px;
  }
  .main__central__main-block__advert__offer div .left-arrow {
    margin-right: 5px;
  }
  .main__central__main-block__advert__offer div .right-arrow {
    margin-left: 5px;
  }
}
@media (max-width: 810px) {
  .container-fluid {
    padding: 5px 20px !important;
  }
  .mobile-navbar {
    display: block !important;
  }
  .header-navbar {
    display: none !important;
  }
  .main__central__main-block__advert {
    display: none;
  }
  .main__central__main-block__sale {
    display: block;
  }
  .main__central__main-block__sale img {
    width: 100%;
  }
  .main__central__bottom-block__quality__block p {
    font-size: 10px;
  }
  .main__central__bottom-block__quality__block .block-header {
    font-size: 12px;
  }
  .main__right-navbar {
    display: none;
  }
}
@media (max-width: 600px) {
  .main__central__main-block__advert__offer {
    margin-top: 70px;
  }
  .main__central__bottom-block__quality {
    height: 140px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .main__central__bottom-block__quality img {
    height: 100%;
  }
}
@media (max-width: 450px) {
  .container-fluid {
    padding: 2px 10px !important;
  }
  .header-secondbar__left {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .header-navbar__quick__location {
    display: none;
  }
  .header-navbar__contacts {
    display: none !important;
  }
  .main__central {
    margin-left: 0;
  }
  .main__left-navbar {
    display: none !important;
  }
}
